.App {
  text-align: center;
  width: 100vw;
  margin: 0;
}

.indent{
  width: 80vw;
  margin: 0vw 7vw;
}

header {
  width: 100vw;
  margin: 0; 
}

div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 95vw;
  margin-bottom: 2vw;
}

div.newMember {
  border: 2px dotted gray;
}



div.yourTeam {
  display: flex;
  flex-flow: row wrap;
  justify-content: space around;
}

div.member {
  background-color: white;
  color: #282c34;
  width: 30vw;
  border: 2vw solid gray;
  border-radius: 4px;
}

h2 {
  text-align: left;
  background-color: darkslategrey;
  color: white;
  padding: 0 1vw;
}
.newMember h2 {
  background-color: rgb(43, 49, 49);

}
.bottomSection {
  border: 2vw solid darkgray;
  background-color: dimgrey;
}
input {
  margin-bottom: 2vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
